/* Reset some default browser styles for consistency */
body, p {
    margin: 0;
    padding: 0;
    /* background-image: url("eiffel.jpg"); */
    /* background-color: lawngreen; */
    background-attachment: fixed; 
    background-size: 100% 100%;
}
/**************************************************************************/

h1 {
    font-size: 2.5em;
    font-weight: lighter;
    text-align: center;
    text-shadow: 0.5px 0.5px;
  }
h2 {
    font-family: Arial;
    font-size: 1.5em;
    font-weight: lighter;
    text-align: center;

}
/**************************************************************************/


/* Center the container horizontally */
.container {
    text-align: center;
    
}


/**************************************************************************/

/* Hover effect for the blocks */
.block:hover {
    background-color: #d7efff; /* Change the background color on hover */
}
/**************************************************************************/


/* Style the blocks */
.block {
    width: 300px;
    background-color: #f0f0f0;
    display: inline-block;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 20px;
    text-align: left; /* Reset text alignment within blocks */
}

/* Style the paragraphs within the blocks */
.block p {
    user-select: none;
    font: Arial;
    font-size: 16px;
    line-height: 1.4;
}


iframe {display: none;} 
